<div class="starter-template">
  <p class="text-center"><h2>Some people, started singing it not knowing what it was</h2></p>

<%= image_tag 'song3.jpg' %>
</div>


<u><%= link_to 'Next>>', verse_4_path %></u>
